<div class="row">
  <div class="col-lg-6">
    <h1>Report Designs</h1>
    <table id="report-designs-table" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th># of Periods</th>
        </tr>
      </thead>
      <tbody>
      </tbody>  
    </table>
  </div>
</div>
